body {
  margin: 0px;
}

.top-container {
  background-color: #F8EDE3;
  width: 100%;
  padding: auto;
}

.middle-container {
  background-color: #DFD3C3;
  width: 100%;
  height: 600px;
}

.bottom-container {
  background-color: #D0B8A8;
  width: 100%;
  height: 600px;
}

h1 {
  color: #85586F;
  margin: 0%;
  display: flex;
  justify-content: center;
}
p {
  color: #85586F;
  margin: 0px;
}

.linux {
  text-decoration: underline;
}